/* html{overflow: hidden;} */
html, body {
    width: 100%; 
    height: 100%;
    /* min-width: 800px;
    min-height: 700px; */
 }
 
html{
    scroll-snap-type:y mandatory;
    
 }
 
 body {
    background-attachment: fixed;
    overflow-x: hidden;
    background: #2d2e35 url('https://assets.anaconda.com/production/Content/1650828148240.png?w=3240&auto=compress%2Cformat&fit=crop&dm=1650828161&s=c558dc55e0ed1f8419a892e842a5728f') repeat-x center bottom / 170px;
    margin: 0;
 }
 
 .section {
    width: 100%; 
    height: 100%;
    scroll-snap-align:center;
    scroll-snap-stop:always;
    
 }
 
 .section:nth-child(2) {
    /* background: #2d2e35 ; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* color: yellow; */
    /* -webkit-font-smoothing: subpixel-antialiased; */
    /* font-size: 40px; */
    background-color: rgb(24 25 32 / 14%);
    /* background: #2d2e35 url('https://assets.anaconda.com/production/Content/1650828148240.png?w=3240&auto=compress%2Cformat&fit=crop&dm=1650828161&s=c558dc55e0ed1f8419a892e842a5728f') repeat-x center bottom / 170px; */
 }
 .section:nth-child(3) {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    color: yellow;
    /* -webkit-font-smoothing: subpixel-antialiased; */
    font-size: 40px;
 }
 /* .section:nth-child(4) {
    background: #2d2e35 ;
 } */
 
 @font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
 }
 
 
 @keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
        color: #fdba05;
    }
    to {
        opacity: 1;
        transform: translateZ(0);
        color: #fdba05;
    }
 }
 .Header-content {
    font-family: 'SBAggroB';
    font-size: 60px;
    display: block;
    margin: 0;
    text-align: center;
    animation: fadeInUp 1s;
    padding: 3.6%;
    color: #fdba05;
    
 }
 
 
 /* Terminal Animation */
 
 .number1 {
    font-family: 'D2Coding', monospace;
    font-size: 19px;
    word-break: break-word;
    padding: 1.2px;
    user-select: none;
    text-align:left;
    color: rgb(170 170 170 / 40%);
    vertical-align: top;
    width: 20px;
    padding: 10px;
    /* animation: hide 0.1s 1; */
    /* animation-fill-mode:forwards; */
 }
 .context1 {
    color: white;
    
    white-space: nowrap;
    margin: 0;
    position: absolute;
    color: transparent;
    user-select: none;
 
    font-family: 'D2Coding', monospace;
    font-size: 19px;
    /* color: white; */
    word-break: break-word;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    outline: none;
    text-indent: initial;
    border-spacing: 2px;
    width: auto;
    padding: auto;
 }
 
 
 .context1::before {
    user-select: none;
    content: "Thank you for visited website";
    position: absolute;
    color: white;
    overflow: scroll;
    padding: 10px;
    /* border-right: 1px solid white; */
    animation: typing 4s steps(40) 1;
    animation-fill-mode:forwards;
 /* 
    content: "|";
    animation: blink 600ms linear infinite alternate; */
 }
 
 .number2 {
    font-family: 'D2Coding', monospace;
    font-size: 19px;
    word-break: break-word;
    padding: 1.2px;
    user-select: none;
    text-align:left;
    color: rgb(170 170 170 / 40%);
    vertical-align: top;
    width: 20px;
    padding: 10px;
    animation: hide 8s 1;
    animation-fill-mode:forwards;
 }
 
 .context2 {
    user-select: none;
    white-space: nowrap;
    margin: 0;
    position: absolute;
    color: transparent;
    
    font-family: 'D2Coding', monospace;
    font-size: 19px;
    /* color: white; */
 
    word-break: break-word;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    outline: none;
    text-indent: initial;
    border-spacing: 2px;
    width: auto;
    padding: auto;
    /* top:50%;
    left:50%; */
    
    /* animation: hide 3.5s 1; */
    /* animation-fill-mode:forwards; */
 }
 
 .context2::before {
    user-select: none;
    position: absolute;
    
    overflow: scroll;
    padding: 10px;
    /* border-right: 1px solid white; */
    animation: typing 3.5s steps(40) 1;
    animation-delay: 3.5s;
    content: "Hello I'm Jimin Son";
    animation-fill-mode:forwards;
    
 /* 
    content: "|";
    animation: blink 600ms linear infinite alternate; */
 }
 
 .number3 {
    font-family: 'D2Coding', monospace;
    font-size: 19px;
    word-break: break-word;
    padding: 1.2px;
    user-select: none;
    text-align:left;
    color: rgb(170 170 170 / 40%);
    vertical-align: top;
    width: 20px;
    padding: 10px;
    animation: hide 20s 1;
    animation-fill-mode:forwards;
 }
 
 .context3 {
    user-select: none;
    white-space: nowrap;
    margin: 0;
    position: absolute;
    color: transparent;
    
    font-family: 'D2Coding', monospace;
    font-size: 19px;
    /* color: white; */
 
    word-break: break-word;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    outline: none;
    text-indent: initial;
    border-spacing: 2px;
    width: auto;
    padding: auto;
    /* top:50%;
    left:50%; */
    
    /* animation: hide 3.5s 1; */
    /* animation-fill-mode:forwards; */
 }
 
 .context3::before {
    user-select: none;
    position: absolute;
    
    overflow: scroll;
    padding: 10px;
    /* border-right: 1px solid white; */
 
    animation: typing 3.5s steps(40) 1;
    animation-delay: 6.5s;
    content: "Install Contents ...";
    animation-fill-mode:forwards;
    
 /* 
    content: "|";
    animation: blink 600ms linear infinite alternate; */
 }
 
 .number4 {
    font-family: 'D2Coding', monospace;
    font-size: 19px;
    word-break: break-word;
    padding: 1.2px;
    user-select: none;
    text-align:left;
    color: rgb(170 170 170 / 40%);
    vertical-align: top;
    width: 20px;
    padding: 10px;
    animation: hide 32s 1;
    animation-fill-mode:forwards;
 }
 
 .context4 {
    user-select: none;
    white-space: nowrap;
    margin: 0;
    position: absolute;
    color: transparent;
    
    font-family: 'D2Coding', monospace;
    font-size: 19px;
    /* color: white; */
 
    word-break: break-word;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    outline: none;
    text-indent: initial;
    border-spacing: 2px;
    width: auto;
    padding: auto;
    /* top:50%;
    left:50%; */
    
    /* animation: hide 3.5s 1; */
    /* animation-fill-mode:forwards; */
 }
 
 .context4::before {
    user-select: none;
    position: absolute;
    
    overflow: scroll;
    padding: 10px;
    /* border-right: 1px solid white; */
 
    animation: typing 3.5s steps(40) 1;
    animation-delay: 9.5s;
    content: "Successfully Installed";
    animation-fill-mode:forwards;
    
 /* 
    content: "|";
    animation: blink 600ms linear infinite alternate; */
 }
 
 
  @keyframes typing{
    0% {
      width: 0%;
      color: white;
    }
    50% {
      width: 100%;
      color: white;
    }
    /* 75%{
        animation-delay: 1.5s;
    } */
    100% {
        width: 100%;
        color: white;
    }
  }
 
 
 @keyframes blink {
    0% {
        opacity: 0;
    }
 
    40% {
        opacity: 0;
    }
 
    50% {
        opacity: 1;
    }
 
    90% {
        opacity: 1;
    }
 
    100% {
        opacity: 0;
    }
 }
 
 @keyframes hide {
    0% {
        opacity: 0;
    }
    25%{
        opacity: 0;
    }
    38%{
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
 
    90% {
        opacity: 1;
    } 
 
    100% {
        height: 0;
        opacity: 1;
 
    }
 }
 
 /* Terminal Animation End */
 
 
 td {
    display: table-cell;
    vertical-align: inherit;
 }
 
 table {
    padding: 1%;
    background-color: #282a36;
    width: auto;
    border-radius: 10px;
    
 }
 
 /* Terminal Design */
 
 .terminal {
    box-shadow: 1px 1px 40px rgb(0 0 0 / 30%);
    margin: 0 auto;
    max-width: 650px;
    
 }
 
 .window-buttons {
    background-color: #fc625d;
    border-radius: 50%;
    border: 1px solid #fc625d;
    display: inline-block;
    height: 10px;
    left: 8px;
    position: relative;
    top: 6px;
    width: 10px;
    user-select: none;
 }
 
 .minimize {
    background-color: #fdbc40;
    border-color: #fdbc40;
    left: 13px;
    user-select: none;
 }
 
 .zoom {
    background-color: #35cd4b;
    border-color: #35cd4b;
    left: 18px;
    user-select: none;
 }
 
 .menu {
    background-color: #313444;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-sizing: border-box;
    height: 30px;
    margin: 0 auto;
    box-shadow: 1px 1px 5px 1px #000;
 }
 
 .screen {
    background-color: #282a36;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-sizing: border-box;
    margin: 0 auto;
    overflow: hidden;
    padding: 1rem 1rem;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 1px 1px 5px 1px #000;
 }
 
 
 .pre {
    -webkit-overflow-scrolling: touch;
    background: #2D2E35;
    border-radius: 10px;
    color: #fff;
    display: block;
    font-family: 'Hack Regular', monospace;
    font-size: .75rem;
    line-height: 1.5;
    max-width: 100%;
    min-width: 100px;
    overflow-x: scroll;
    padding: 0.5rem;
    white-space: nowrap;
 }
 
 
 /* Terminal Design End */
 
 
 /* contact me */
 
 .contact_me {
    font-size: 40px;
    /* font-weight: bold; */
    display: block;
    margin: 0;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 1%;
    color: transparent;
    font-family: 'SBAggroB';
    margin: 0;
    text-align: center;
    position: relative;
 
    animation: fadeInUp 1s 1;
    animation-delay: 11.2s;
    animation-fill-mode: forwards;
 }
 
 
 
 
 /* contact me end */
 
 
 .contact_group  li{
    /* position: relative;
    justify-content: center;
    text-align: center;
    display: block;
    margin: 0;
    align-items: center; */
    /* flex-direction: column; */
    position: relative;
    list-style: none;
    display: inline-block;
    
 }
 .contact_group ul {
    list-style: none;
    text-align: center;
    padding-left: 0;
 }
 
 /* .contact_group div {
    position : relative;
    text-align: center;
    margin-top:-30px;
 } */
 .contact_group div {
    position: relative;
    text-align: center;
    top: -30px;
    font-family: 'SBAggroB';
 }
 
 .contact_group{
    /* transform: translateX(-50%); */
    /* position: relative; */
    /* left: 50%; */
    margin: 0 auto;
    /* padding: 0.3; */
    width: 50%;
    border: 1px solid;
    border-radius: 10px;
    
    transition: transform 1s;
    perspective: 300px;
    animation: flip 1s 1;
    animation-delay: 12s;
    backface-visibility: hidden;
    display: block;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    animation-fill-mode:forwards;
    opacity: 0;
 
    /* animation: gradient 3.5s steps(40) 1;
    
    /* border-top; */
 }
 
 @keyframes flip {
 
    60% {
        /* transition: 1s; */
        transform: rotateY(15deg);
        
    }
    100%{
        opacity: 1;
        
    }
 }
 
 .card{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 .dialogs {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3,1fr);
    margin-top: 1%;
    padding: 1rem 0 0;
 }
 
 .dialog {
    align-items: center;
    background-color: #4c4f5a;
    border-radius: 10px;
    color: #fff;
    /* cursor: pointer; */
    display: flex;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    width: 13rem;
 
    transition: transform 1s;
    perspective: 300px;
    animation: flip 1s 1;
    animation-delay: 12s;
    backface-visibility: hidden;
 
    align-items: center;
    transform-style: preserve-3d;
    animation-fill-mode:forwards;
    opacity: 0;
 
 
    box-shadow: 1px 1px 5px 1px #000;
 }
 
 .dialog:hover{
    background-color: #313444;
 }
 
 .dialog:visited {
    color: inherit;
 }
 
 /* .dialog :hover {
    background-color: #FDA703;
    color: #2C2E34;
 } */
 
 .dialog p {
    font-size: 0.85rem;
    line-height: 1.5;
 }
 
 .dialog ol {
    /* list-style-type: none; */
    /* padding: 0 1rem; */
    margin: 0 1rem 0 1.5rem;
 }
 
 .dialog li {
    /* border-bottom: 1px solid #2C2E34; */
    padding: 0.5rem 1rem;
 }
 
 
 
 .dialog li:last-of-type {
    border-bottom: 0;
    border-radius: 0 0 10px 10px;
 }
 
 
 .flex {
    align-items: center;
    display: flex;
    /* justify-content: center; */
 }
 
 /* show dropdown content */
 
 
 
 
 .site-footer .glyph {
    padding: 0.4rem;
 }
 
 .contact_grid svg {
    display: block;
    fill: #fff;
    height: 30px;
    width: 30px;
 }
 .contact_github{
    background-color: #181717;
    border-radius: 10px;
    display: inline-block;
    margin-right: 15px;
    padding: 0.8rem;
 
 }
 .contact_gmail{
    background-color: #f2a60c;
    border-radius: 10px;
    display: inline-block;
    margin-right: 15px;
    padding: 0.8rem;
 }
 .contact_discord{
    background-color: #5865F2;
    border-radius: 10px;
    display: inline-block;
    margin-right: 15px;
    padding: 0.8rem;
 }
 
 /* section-1-end */
 
 /* section-2-start */
 
 /* .section-2-h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: yellow;
    font-size: 40px;
 } */
 
 
 
 
 .fromBottomIn
 {
   transition: transform 1.0s ease, opacity 1.0s ease;
   
   transform: translate(0,0);
   opacity: 1.0;
 }
 
 .fromBottomOut
 {
   transition: transform 1.0s ease, opacity 1.0s ease;
   
   transform: translate(0,10px);
   opacity: 0.0;
 }
 
 .fromRightIn
 {
   transition: transform 1.0s ease, opacity 1.0s ease;
   
   transform: translate(0,0);
   opacity: 1.0;
 }
 
 .fromRightOut
 {
   transition: transform 1.0s ease, opacity 1.0s ease;
   
   transform: translate(10px, 0);
   opacity: 0.0;
 }
 
 
 
 .section-2-h1{
    text-align: center;
    /* border: 1px solid #000000; */
    padding-top: 3%;
    font-family: 'SBAggroB';
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fdba05;
    margin-bottom: 50px;
 }
 
 
 
 
 .skill-menu-item,
 .skill-menu-open-button {
   background: #EEEEEE;
   border-radius: 100%;
   width: 80px;
   height: 80px;
   margin-left: -40px;
   position: absolute;
   text-align: center;
   font-size: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   user-select: none;
   
   /* text-align: center; */
   /* line-height: 80px; */
   /* -webkit-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
   -webkit-transition: -webkit-transform ease-out 200ms;
   transition: -webkit-transform ease-out 200ms;
   transition: transform ease-out 200ms;
   transition: transform ease-out 200ms, -webkit-transform ease-out 200ms; */
 }
 
 .skill-menu-open {
   display: none;
   
 }
 
 .skills {
   display: flex;
   justify-content: center;
   align-items: center;
   color: black;
   font-size: 20px;
   height: 80px;
    
 }
 
 
 
 .skill-menu {
   margin: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   width: 80px;
   height: 80px;
   /* text-align: center; */
   box-sizing: border-box;
   font-size: 26px;
 }
 
 .heartbeat {
    animation: heartbeat 1.5s steps(144, end) forwards;
    animation-delay: 0.4s;
 }
 
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
 
 /* .menu-item {
   transition: all 0.1s ease 0s;
 } */
 
 /* .skill-menu-item:hover {
   background: #EEEEEE;
   color: #3290B1;
 } */
 
 
 /* Main Circles */
 .skill-menu-item:nth-child(3) {
   transition-duration: 180ms;
 }
 
 .skill-menu-item:nth-child(4) {
   transition-duration: 180ms;
 }
 
 .skill-menu-item:nth-child(5) {
   transition-duration: 180ms;
 }
 
 .skill-menu-item:nth-child(6) {
   transition-duration: 180ms;
 }
 
 .skill-menu-item:nth-child(7) {
   transition-duration: 180ms;
 }
 
 .skill-menu-box{
    width: auto;
    height: 700px;
    /* background-color: rgb(0 0 0/ 15%); */
    position: relative;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    margin: 0;
  }
 
 .skill-menu-open-button {
   z-index: 2;
   transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
   transition-duration: 400ms;
   transform: scale(1.1, 1.1) translate3d(0, 0, 0);
   cursor: pointer;
   box-shadow: 1px 1px 5px 2.2px #000;
 }
 
 .skill-menu-open-button:hover {
   transform: scale(1.2, 1.2) translate3d(0, 0, 0);
 }
 
 .skill-menu-open:checked + .skill-menu-open-button {
   transition-timing-function: linear;
   transition-duration: 200ms;
   transform: scale(1.5, 1.5) translate3d(0, 0, 0);
 }
 
 .skill-menu-open:checked ~ .skill-menu-item {
   transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
 }
 /* Database top tree */
 .skill-menu-open:checked ~ .skill-menu-item:nth-child(3) {
   transition-duration: 180ms;
   transform: translate3d(0.08361px, -104.99997px, 0);
   font-size: 15px;
 }
 .tree1 {
    background-color: #669AE1;
    /* box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14); */
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
  }
 /* Languages top tree */
 .skill-menu-open:checked ~ .skill-menu-item:nth-child(4) {
    transition-duration: 280ms;
    transform: translate3d(99.9466px, -26.475859999999997px, 0);
    font-size: 15px;
 
 }
 .tree2 {
    background-color: #FC913A;
    /* box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14); */
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
  }
  
 
 /* Web top tree */
 .skill-menu-open:checked ~ .skill-menu-item:nth-child(5) {
   transition-duration: 380ms;
   transform: translate3d(61.91639px, 84.99997px, 0);
   font-size: 15px;
 }
 .tree3 {
    background-color: #FE4365;
    /* box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14); */
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
  }
  
 /* Cloud top tree */
 .skill-menu-open:checked ~ .skill-menu-item:nth-child(6) {
   transition-duration: 480ms;
   transform: translate3d(-61.91639px, 84.99997px, 0);
   font-size: 15px;
 }
 .tree4 {
    background-color: #C49CDE;
    /* box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14); */
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
  }
  
  
 /* Network top tree */
 .skill-menu-open:checked ~ .skill-menu-item:nth-child(7) {
 
    transition-duration: 580ms;
    transform: translate3d(-99.9466px, -26.475859px, 0);
    font-size: 15px;
  }
 
 .tree5 {
    background-color: #70CC72;
    /* box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14); */
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
  }
  
  
 /* Database Tree start */
 /* Database item start */
 .skill-menu-open:checked ~ .skill-menu-item:nth-child(8){
   transition-duration: 580ms;
   -webkit-transition-duration: 580ms;
   -webkit-transform: translate3d(-90.86291px, 52.62064px, 0);
   transform: translate3d(-62.9466px, -239.47586px, 0);
   font-size: 15px;
   border: 3.5px solid #669AE1;
   animation: hidden 2.8s;
   overflow: hidden;
 }
 
 
 .skill-menu-open:checked ~ .skill-menu-item:nth-child(9){
   transition-duration: 580ms;
   transform: translate3d(69.9466px, -214.47586px, 0);
   font-size: 15px;
   border: 3.5px solid #669AE1;
   animation: hidden 2.3s;
   overflow: hidden;
 }
 
 .database-mysql {
    background-image: url("../img/mysql.png");
    background-size:  65px;
    background-repeat: no-repeat;
    background-color:#fff;
    background-position: center;
  }
 
 .database-mysql:hover:before {
    content:"70%";
    display: flex;
    justify-content: center;
    position:absolute;
    width: 150px;
    height:150px;
    background:#669AE1;
    left:50%;
    animation:fill 1s ease-in-out forwards;
    z-index:-2;
    top: 30%;
  }
 
 
 
  .database-sqlite {
    background-image: url("../img/sqlite.png");
    background-size:  65px;
    background-repeat: no-repeat;
    background-color:#fff;
     background-position: center;
  }
  .database-sqlite:hover:before {
    content:"80%";
    display: flex;
    justify-content: center;
    position:absolute;
    width: 150px;
    height:150px;
    background:#669AE1;
    left:50%;
    animation:fill 1s ease-in-out forwards;
    z-index:-2;
    top: 20%;
  }
 
 /* Database item end */
 
 /* Database stick start */
 .skill-menu-open:checked ~ .skill-menu-item:nth-child(10){
    position: absolute;
    top: -180px;
    left: 59px;
    height: 100%;
    width: 2px;
    border-radius: 0%;
    background-color: transparent;
    transform: rotate(0deg);
    z-index: -2;
  }
  .skill-menu-open:checked ~ .skill-menu-item .database-main-stick{
    position: absolute;
    left: 40px;
    width: 2px;
    border-radius: 0%;
    animation: Database-progressAnimation 1.7s ease-in-out forwards;
    animation-delay: 0.175s;
    background-color: transparent;
    transform-origin: left bottom;
  }
 
  .skill-menu-open:checked ~ .skill-menu-item:nth-child(11){
    position: absolute;
    top: -149px;
    left: 72px;
    height: 45%;
    width: 2px;
    border-radius: 0%;
    background-color: transparent;
    transform: rotate(49deg);
    z-index: -2;
  }
  .skill-menu-open:checked ~ .skill-menu-item .database-stick1{
    position: absolute;
    left: 40px;
    height: 100%;
    width: 2px;
    border-radius: 0%;
    animation: Database-progressAnimation 1.3s ease-in-out forwards;
    animation-delay: 0.6s;
    background-color: transparent;
    transform-origin: left bottom;
  }
  .skill-menu-open:checked ~ .skill-menu-item:nth-child(12){
    position: absolute;
    top: -174px;
    left: 48px;
    height: 36%;
    width: 2px;
    border-radius: 0%;
    background-color: transparent;
    transform: rotate(-50deg);
    z-index: -2;
  }
  .skill-menu-open:checked ~ .skill-menu-item .database-stick2{
    position: absolute;
    left: 40px;
    height: 100%;
    width: 2px;
    border-radius: 0%;
    animation: Database-progressAnimation 1.3s ease-in-out forwards;
    animation-delay: 0.9s;
    background-color: transparent;
    transform-origin: left bottom;
  }
 /* Database stick end */
 
  .database-main-stick, .database-stick1, .database-stick2{
    position: absolute;
    left: 50%;
  }
 
  @keyframes Database-progressAnimation {
    0% {
       transform: scale(1,0);
       background-color: #669AE1;
    }
    100% {
       /* transform: rotate(120deg); */
    
       transform: scale(1,1.3);
       background-color: #669AE1;
    }
  }
 
 /* Database item end */
 /* Database Tree end */
 
 
 /* Languages tree start */
 /* Languages item start */
 .skill-menu-open:checked ~ .skill-menu-item:nth-child(13){
    transform: translate3d(238px, -91px, 0);
    border: 3.5px solid #FC913A;
    font-size: 15px;
    animation: hidden 3.3s;
  }
  .skill-menu-open:checked ~ .skill-menu-item:nth-child(14){
     transform: translate3d(304.9466px, -194.47586px, 0);
     border: 3.5px solid #FC913A;
     font-size: 15px;
     animation: hidden 5s;
   }
   .skill-menu-open:checked ~ .skill-menu-item:nth-child(15){
     transform: translate3d(366.9466px, 28.52414px, 0);
     border: 3.5px solid #FC913A;
     font-size: 15px;
     animation: hidden 4.2s;
   }
   .skill-menu-open:checked ~ .skill-menu-item:nth-child(16){
    transform: translate3d(497px, 27px, 0);
    font-size: 15px;
    animation: hidden 5.65s;
  }
  .skill-menu-open:checked ~ .skill-menu-item:nth-child(17){
     transform: translate3d(444.9466px, 133.52414px, 0);
     font-size: 15px;
     animation: hidden 5.65s;
   }
   .skill-menu-open:checked ~ .skill-menu-item:nth-child(18){
     transform: translate3d(597.9466px, -55.47586px, 0);
     border: 3.5px solid #FC913A;
     font-size: 15px;
     animation: hidden 7.1s;
   }.skill-menu-open:checked ~ .skill-menu-item:nth-child(19){
    transform: translate3d(623px, 59px, 0);
    border: 3.5px solid #FC913A;
    font-size: 15px;
    animation: hidden 7.1s;
  }
  .skill-menu-open:checked ~ .skill-menu-item:nth-child(20){
     transform: translate3d(544.9466px, 261.52414px, 0);
     border: 3.5px solid #FC913A;
     font-size: 15px;
     animation: hidden 7.1s;
   }
   .skill-menu-open:checked ~ .skill-menu-item:nth-child(21){
     transform: translate3d(438.9466px, 243.52414px, 0);
     border: 3.5px solid #FC913A;
     font-size: 15px;
     animation: hidden 7.1s;
   }
   .skill-menu-open:checked ~ .skill-menu-item:nth-child(22){
     transform: translate3d(570.9466px, 158.52414px, 0);
     border: 3.5px solid #FC913A;
     font-size: 15px;
     animation: hidden 7.1s;
   }
 
 .languages-golang {
    background-image: url("../img/golang.png");
    background-size:  78px;
    background-repeat: no-repeat;
    background-color:#fff;
    background-position: center;
    overflow: hidden;
 }
 .languages-golang:hover:before {
    content:"60%";
    display: flex;
    justify-content: center;
    position:absolute;
    width: 150px;
    height:150px;
    background:#FC913A;
    left:50%;
    animation:fill 1s ease-in-out forwards;
    z-index:-2;
    top: 40%;
  }
 .languages-python {
    background-image: url("../img/python.png");
    background-size:  100px;
    background-repeat: no-repeat;
    background-color:#fff;
    background-position: center;
    overflow: hidden;
 }
 .languages-python:hover:before {
    content:"88%";
    display: flex;
    justify-content: center;
    position:absolute;
    width: 150px;
    height:150px;
    background:#FC913A;
    left:50%;
    animation:fill 1s ease-in-out forwards;
    z-index:-2;
    top: 12%;
  }
 .languages-gin {
    background-image: url("../img/gin.png");
    background-size:  120px;
    background-repeat: no-repeat;
    background-color:#fff;
    background-position: center;
    overflow: hidden;
 }
 .languages-gin:hover:before {
    content:"60%";
    display: flex;
    justify-content: center;
    position:absolute;
    width: 150px;
    height:150px;
    background:#FC913A;
    left:50%;
    animation:fill 1s ease-in-out forwards;
    z-index:-2;
    top: 40%;
  }
 .languages-framework {
    background-size:  85px;
    background-repeat: no-repeat;
    background-color:#FC913A;
    background-position: center;
 }
 
 .languages-data-analysis {
    background-size:  85px;
    background-repeat: no-repeat;
    background-color: #FC913A;
    background-position: center;
 }
 
 .languages-django {
    background-image: url("../img/django.png");
    background-size:  75px;
    background-repeat: no-repeat;
    background-color:#fff;
    background-position: center;
    overflow: hidden;
 }
 .languages-django:hover:before {
    content:"75%";
    display: flex;
    justify-content: center;
    position:absolute;
    width: 150px;
    height:150px;
    background:#FC913A;
    left:50%;
    animation:fill 1s ease-in-out forwards;
    z-index:-2;
    top: 25%;
  }
 .languages-flask {
    background-image: url("../img/flask.png");
    background-size:  75px;
    background-repeat: no-repeat;
    background-color:#fff;
    background-position: center;
    overflow: hidden;
 }
 .languages-flask:hover:before {
    content:"55%";
    display: flex;
    justify-content: center;
    position:absolute;
    width: 150px;
    height:150px;
    background:#FC913A;
    left:50%;
    animation:fill 1s ease-in-out forwards;
    z-index:-2;
    top: 45%;
  }
 .languages-elk {
    background-image: url("../img/elk.png");
    background-size:  110px;
    background-repeat: no-repeat;
    background-color:#fff;
    background-position: center;
    overflow: hidden;
 }
 .languages-elk:hover:before {
    content:"65%";
    display: flex;
    justify-content: center;
    position:absolute;
    width: 150px;
    height:150px;
    background:#FC913A;
    left:50%;
    animation:fill 1s ease-in-out forwards;
    z-index:-2;
    top: 35%;
  }
 .languages-pandas {
    background-image: url("../img/pandas.png");
    background-size:  85px;
    background-repeat: no-repeat;
    background-color:#fff;
    background-position: center;
    overflow: hidden;
 }
 .languages-pandas:hover:before {
    content:"70%";
    display: flex;
    justify-content: center;
    position:absolute;
    width: 150px;
    height:150px;
    background:#FC913A;
    left:50%;
    animation:fill 1s ease-in-out forwards;
    z-index:-2;
    top: 30%;
  }
 .languages-numpy {
    background-image: url("../img/numpy.png");
    background-size:  85px;
    background-repeat: no-repeat;
    background-color:#fff;
    background-position: center;
    overflow: hidden;
 }
 .languages-numpy:hover:before {
    content:"70%";
    display: flex;
    justify-content: center;
    position:absolute;
    width: 150px;
    height:150px;
    background:#FC913A;
    left:50%;
    animation:fill 1s ease-in-out forwards;
    z-index:-2;
    top: 30%;
  }
 /* Languages stick start */
 /* Languages stick end */
 
 .skill-menu-open:checked ~ .skill-menu-item:nth-child(23){
    position: absolute;
    top: -29px;
    left: 238px;
    height: 100%;
    width: 2px;
    border-radius: 0%;
    background-color: transparent;
    transform: rotate(90deg);
    z-index: -2;
  }
  .skill-menu-open:checked ~ .skill-menu-item .languages-main-stick{
    position: absolute;
    left: 40px;
    width: 2px;
    border-radius: 0%;
    animation: Languages-progressAnimation 3s ease-in-out forwards;
    animation-delay: 0.6s;
    background-color: transparent;
    transform-origin: left bottom;
  }
 
  .skill-menu-open:checked ~ .skill-menu-item:nth-child(24){
    position: absolute;
    top: 1px;
    left: 235px;
    height: 15%;
    width: 2px;
    border-radius: 0%;
    background-color: transparent;
    transform: rotate(49deg);
    z-index: -2;
  }
  .skill-menu-open:checked ~ .skill-menu-item .languages-stick1{
    position: absolute;
    left: 40px;
    height: 100%;
    width: 2px;
    border-radius: 0%;
    animation: Languages-progressAnimation 1.3s ease-in-out forwards;
    animation-delay: 1.25s;
    background-color: transparent;
    transform-origin: left bottom;
  }
  .skill-menu-open:checked ~ .skill-menu-item:nth-child(25){
    position: absolute;
    top: 9px;
    left: 356px;
    height: 16%;
    width: 2px;
    border-radius: 0%;
    background-color: transparent;
    transform: rotate(130deg);
    z-index: -2;
  }
  .skill-menu-open:checked ~ .skill-menu-item .languages-stick2{
    position: absolute;
    left: 40px;
    height: 100%;
    width: 2px;
    border-radius: 0%;
    animation: Languages-progressAnimation 1.3s ease-in-out forwards;
    animation-delay: 2.05s;
    background-color: transparent;
    transform-origin: left bottom;
  }
  .skill-menu-open:checked ~ .skill-menu-item:nth-child(26){
    position: absolute;
    top: -97px;
    left: 320px;
    height: 12%;
    width: 2px;
    border-radius: 0%;
    background-color: transparent;
    transform: rotate(-330deg);
    z-index: -2;
  }
  .skill-menu-open:checked ~ .skill-menu-item .languages-stick3{
    position: absolute;
    left: 40px;
    height: 100%;
    width: 2px;
    border-radius: 0%;
    animation: Languages-progressAnimation 1.3s ease-in-out forwards;
    animation-delay: 2.6s;
    background-color: transparent;
    transform-origin: left bottom;
  }
  .skill-menu-open:checked ~ .skill-menu-item:nth-child(27){
    position: absolute;
    top: 101px;
    left: 456px;
    height: 15%;
    width: 2px;
    border-radius: 0%;
    background-color: transparent;
    transform: rotate(142deg);
    z-index: -2;
  }
  .skill-menu-open:checked ~ .skill-menu-item .languages-stick4{
    position: absolute;
    left: 40px;
    height: 100%;
    width: 2px;
    border-radius: 0%;
    animation: Languages-progressAnimation 1.3s ease-in-out forwards;
    animation-delay: 3.22s;
    background-color: transparent;
    transform-origin: left bottom;
  }
  .skill-menu-open:checked ~ .skill-menu-item:nth-child(28){
    position: absolute;
    top: 56px;
    left: 474px;
    height: 15%;
    width: 2px;
    border-radius: 0%;
    background-color: transparent;
    transform: rotate(93deg);
    z-index: -2;
  }
  .skill-menu-open:checked ~ .skill-menu-item .languages-stick5{
    position: absolute;
    left: 40px;
    height: 100%;
    width: 2px;
    border-radius: 0%;
    animation: Languages-progressAnimation 1.3s ease-in-out forwards;
    animation-delay: 3.22s;
    background-color: transparent;
    transform-origin: left bottom;
  }
  .skill-menu-open:checked ~ .skill-menu-item:nth-child(29){
    position: absolute;
    top: 29px;
    left: 589px;
    height: 15%;
    width: 2px;
    border-radius: 0%;
    background-color: transparent;
    transform: rotate(52deg);
    z-index: -2;
  }
  .skill-menu-open:checked ~ .skill-menu-item .languages-stick6{
    position: absolute;
    left: 40px;
    height: 100%;
    width: 2px;
    border-radius: 0%;
    animation: Languages-progressAnimation 1.3s ease-in-out forwards;
    animation-delay: 4.35s;
    background-color: transparent;
    transform-origin: left bottom;
  }
  .skill-menu-open:checked ~ .skill-menu-item:nth-child(30){
    position: absolute;
    top: 76px;
    left: 599px;
    height: 15%;
    width: 2px;
    border-radius: 0%;
    background-color: transparent;
    transform: rotate(103deg);
    z-index: -2;
  }
  .skill-menu-open:checked ~ .skill-menu-item .languages-stick7{
    position: absolute;
    left: 40px;
    height: 100%;
    width: 2px;
    border-radius: 0%;
    animation: Languages-progressAnimation 1.3s ease-in-out forwards;
    animation-delay: 4.35s;
    background-color: transparent;
    transform-origin: left bottom;
  }
  .skill-menu-open:checked ~ .skill-menu-item:nth-child(31){
    position: absolute;
    top: 169px;
    left: 549px;
    height: 15%;
    width: 2px;
    border-radius: 0%;
    background-color: transparent;
    transform: rotate(106deg);
    z-index: -2;
  }
  .skill-menu-open:checked ~ .skill-menu-item .languages-stick8{
    position: absolute;
    left: 40px;
    height: 100%;
    width: 2px;
    border-radius: 0%;
    animation: Languages-progressAnimation 1.3s ease-in-out forwards;
    animation-delay: 4.35s;
    background-color: transparent;
    transform-origin: left bottom;
  } .skill-menu-open:checked ~ .skill-menu-item:nth-child(32){
    position: absolute;
    top: 202px;
    left: 535px;
    height: 25%;
    width: 2px;
    border-radius: 0%;
    background-color: transparent;
    transform: rotate(145deg);
    z-index: -2;
  }
  .skill-menu-open:checked ~ .skill-menu-item .languages-stick9{
    position: absolute;
    left: 40px;
    height: 100%;
    width: 2px;
    border-radius: 0%;
    animation: Languages-progressAnimation 1.3s ease-in-out forwards;
    animation-delay: 4.35s;
    background-color: transparent;
    transform-origin: left bottom;
  } .skill-menu-open:checked ~ .skill-menu-item:nth-child(33){
    position: absolute;
    top: 212px;
    left: 498px;
    height: 9%;
    width: 2px;
    border-radius: 0%;
    background-color: transparent;
    transform: rotate(181deg);
    z-index: -2;
  }
  .skill-menu-open:checked ~ .skill-menu-item .languages-stick10{
    position: absolute;
    left: 40px;
    height: 100%;
    width: 2px;
    border-radius: 0%;
    animation: Languages-progressAnimation 1.3s ease-in-out forwards;
    animation-delay: 4.35s;
    background-color: transparent;
    transform-origin: left bottom;
  }
 /* Languages item end */
 /* Languages tree end */
 
 .languages-main-stick, .languages-stick1,.languages-stick2,.languages-stick3,
 .languages-stick4,.languages-stick5,.languages-stick6,.languages-stick7,
 .languages-stick8,.languages-stick9,.languages-stick10
 {
    position: absolute;
    left: 50%;
 }
 
 @keyframes Languages-progressAnimation {
    0% {
       transform: scale(1,0);
       background-color: #FC913A;
    }
    100% {
       /* transform: rotate(120deg); */
    
       transform: scale(1,4);
       background-color: #FC913A;
    }
  }
 
 /* Web tree start */
 /* Web item start */
 
 .skill-menu-open:checked ~ .skill-menu-item:nth-child(34){
    transform: translate3d(112px, 211px, 0);
    border: 3.5px solid #FE4365;
    font-size: 15px;
    animation: hidden 3.7s;
  }
  .skill-menu-open:checked ~ .skill-menu-item:nth-child(35){
     transform: translate3d(223.9466px, 158.52414px, 0);
     border: 3.5px solid #FE4365;
     font-size: 15px;
     animation: hidden 4.2s;
   }
   .skill-menu-open:checked ~ .skill-menu-item:nth-child(36){
     transform: translate3d(301.9466px, 234.52414px, 0);
     border: 3.5px solid #FE4365;
     font-size: 15px;
     animation: hidden 5.5s;
   }
   .skill-menu-open:checked ~ .skill-menu-item:nth-child(37){
     transform: translate3d(187.9466px, 290.52414px, 0);
     font-size: 15px;
     border: 3.5px solid #FE4365;
     animation: hidden 4.7s;
   }
 
 .web-html {
    background-image: url("../img/html.png");
    background-size:  80px;
    background-repeat: no-repeat;
    background-color:#fff;
    background-position: center;
    overflow: hidden;
 }
 .web-html:hover:before {
    content:"75%";
    display: flex;
    justify-content: center;
    position:absolute;
    width: 150px;
    height:150px;
    background:#FE4365;
    left:50%;
    animation:fill 1s ease-in-out forwards;
    z-index:-2;
    top: 25%;
  }
 .web-css {
    background-image: url("../img/css.png");
    background-size:  50px;
    background-repeat: no-repeat;
    background-color:#fff;
    background-position: center;
    overflow: hidden;
 }
 .web-css:hover:before {
    content:"75%";
    display: flex;
    justify-content: center;
    position:absolute;
    width: 150px;
    height:150px;
    background:#FE4365;
    left:50%;
    animation:fill 1s ease-in-out forwards;
    z-index:-2;
    top: 25%;
  }
 .web-js {
    background-image: url("../img/js.png");
    background-size:  110px;
    background-repeat: no-repeat;
    background-color:#fff;
    background-position: center;
    overflow: hidden;
 }
 .web-js:hover:before {
    content:"45%";
    display: flex;
    justify-content: center;
    position:absolute;
    width: 150px;
    height:150px;
    background:#FE4365;
    left:50%;
    animation:fill 1s ease-in-out forwards;
    z-index:-2;
    top: 55%;
  }
 .web-nginx {
    background-image: url("../img/nginx.png");
    background-size:  60px;
    background-repeat: no-repeat;
    background-color:#fff;
    background-position: center;
    overflow: hidden;
 }
 .web-nginx:hover:before {
    content:"65%";
    display: flex;
    justify-content: center;
    position:absolute;
    width: 150px;
    height:150px;
    background:#FE4365;
    left:50%;
    animation:fill 1s ease-in-out forwards;
    z-index:-2;
    top: 35%;
  }
 /* Web item end */
 /* Web stick start */
 
 .skill-menu-open:checked ~ .skill-menu-item:nth-child(38){
    position: absolute;
    top: 141px;
    left: 177px;
    height: 100%;
    width: 2px;
    border-radius: 0%;
    background-color: transparent;
    transform: rotate(135deg);
    z-index: -2;
  }
  .skill-menu-open:checked ~ .skill-menu-item .web-main-stick{
    position: absolute;
    left: 40px;
    width: 2px;
    border-radius: 0%;
    animation: Web-progressAnimation 3s ease-in-out forwards;
    animation-delay: 0.8s;
    background-color: transparent;
    transform-origin: left bottom;
  }
 
  .skill-menu-open:checked ~ .skill-menu-item:nth-child(39){
    position: absolute;
    top: 177px;
    left: 172px;
    height: 13%;
    width: 2px;
    border-radius: 0%;
    background-color: transparent;
    transform: rotate(180deg);
    z-index: -2;
  }
  .skill-menu-open:checked ~ .skill-menu-item .web-stick1{
    position: absolute;
    left: 40px;
    height: 100%;
    width: 2px;
    border-radius: 0%;
    animation: Web-progressAnimation 1.3s ease-in-out forwards;
    animation-delay: 1.6s;
    background-color: transparent;
    transform-origin: left bottom;
  }
  .skill-menu-open:checked ~ .skill-menu-item:nth-child(40){
    position: absolute;
    top: 205px;
    left: 213px;
    height: 14%;
    width: 2px;
    border-radius: 0%;
    background-color: transparent;
    transform: rotate(80deg);
    z-index: -2;
  }
  .skill-menu-open:checked ~ .skill-menu-item .web-stick2{
    position: absolute;
    left: 40px;
    height: 100%;
    width: 2px;
    border-radius: 0%;
    animation: Web-progressAnimation 1.3s ease-in-out forwards;
    animation-delay: 2s;
    background-color: transparent;
    transform-origin: left bottom;
  }
  .skill-menu-open:checked ~ .skill-menu-item:nth-child(41){
    position: absolute;
    top: 252px;
    left: 248px;
    height: 15%;
    width: 2px;
    border-radius: 0%;
    background-color: transparent;
    transform: rotate(180deg);
    z-index: -2;
  }
  .skill-menu-open:checked ~ .skill-menu-item .web-stick3{
    position: absolute;
    left: 40px;
    height: 100%;
    width: 2px;
    border-radius: 0%;
    animation: Web-progressAnimation 1.3s ease-in-out forwards;
    animation-delay: 2.4s;
    background-color: transparent;
    transform-origin: left bottom;
  }
 
  .skill-menu-open:checked ~ .skill-menu-item:nth-child(42){
    position: absolute;
    top: 280px;
    left: 289px;
    height: 15%;
    width: 2px;
    border-radius: 0%;
    background-color: transparent;
    transform: rotate(80deg);
    z-index: -2;
  }
  .skill-menu-open:checked ~ .skill-menu-item .web-stick4{
    position: absolute;
    left: 40px;
    height: 100%;
    width: 2px;
    border-radius: 0%;
    animation: Web-progressAnimation 1.3s ease-in-out forwards;
    animation-delay: 3s;
    background-color: transparent;
    transform-origin: left bottom;
  }
 /* Web stick end */
 /* Web tree end */
 
 .web-main-stick, .web-stick1,.web-stick2,.web-stick3,.web-stick4{
    position: absolute;
    left: 50%;
 }
 
 @keyframes Web-progressAnimation {
    0% {
       transform: scale(1,0);
       background-color: #FE4365;
    }
    100% {
       transform: scale(1,3);
       background-color: #FE4365;
    }
  }
 
 /* Cloud tree start */
 /* Cloud item start */
 
 .skill-menu-open:checked ~ .skill-menu-item:nth-child(43){
    transform: translate3d(-112px, 211px, 0);
    border: 3.5px solid #C49CDE;
    font-size: 15px;
    animation: hidden 4.4s;
  }
  .skill-menu-open:checked ~ .skill-menu-item:nth-child(44){
     transform: translate3d(-223.0534px, 169.52414px, 0);
     border: 3.5px solid #C49CDE;
     font-size: 15px;
     animation: hidden 5s;
   }
   .skill-menu-open:checked ~ .skill-menu-item:nth-child(45){
     transform: translate3d(-192.0534px, 287.52414px, 0);
     border: 3.5px solid #C49CDE;
     font-size: 15px;
     animation: hidden 5.8s;
   }
 
 .cloud-github {
    background-image: url("../img/github.png");
    background-size:  85px;
    background-repeat: no-repeat;
    background-color:#fff;
    background-position: center;
    overflow: hidden;
 }
 .cloud-github:hover:before {
    content:"75%";
    display: flex;
    justify-content: center;
    position:absolute;
    width: 150px;
    height:150px;
    background:#C49CDE;
    left:50%;
    animation:fill 1s ease-in-out forwards;
    z-index:-2;
    top: 25%;
  }
 .cloud-docker {
    background-image: url("../img/docker.png");
    background-size:  58px;
    background-repeat: no-repeat;
    background-color:#fff;
    background-position: center;
    overflow: hidden;
 }
 .cloud-docker:hover:before {
    content:"80%";
    display: flex;
    justify-content: center;
    position:absolute;
    width: 150px;
    height:150px;
    background:#C49CDE;
    left:50%;
    animation:fill 1s ease-in-out forwards;
    z-index:-2;
    top: 20%;
  }
 .cloud-aws {
    background-image: url("../img/aws.png");
    background-size:  85px;
    background-repeat: no-repeat;
    background-color:#fff;
    background-position: center;
    overflow: hidden;
 }
 .cloud-aws:hover:before {
    content:"65%";
    display: flex;
    justify-content: center;
    position:absolute;
    width: 150px;
    height:150px;
    background:#C49CDE;
    left:50%;
    animation:fill 1s ease-in-out forwards;
    z-index:-2;
    top: 35%;
  }
 /* Cloud item end */
 /* Cloud stick start */
 
 .skill-menu-open:checked ~ .skill-menu-item:nth-child(46){
    position: absolute;
    top: 141px;
    left: -60px;
    height: 100%;
    width: 2px;
    border-radius: 0%;
    background-color: transparent;
    transform: rotate(225deg);
    z-index: -2;
  }
  .skill-menu-open:checked ~ .skill-menu-item .cloud-main-stick{
    position: absolute;
    left: 40px;
    width: 2px;
    border-radius: 0%;
    animation: Cloud-progressAnimation 3s ease-in-out forwards;
    animation-delay: 1.2s;
    background-color: transparent;
    transform-origin: left bottom;
  }
 
  .skill-menu-open:checked ~ .skill-menu-item:nth-child(47){
    position: absolute;
    top: 177px;
    left: -56px;
    height: 13%;
    width: 2px;
    border-radius: 0%;
    background-color: transparent;
    transform: rotate(180deg);
    z-index: -2;
  }
  .skill-menu-open:checked ~ .skill-menu-item .cloud-stick1{
    position: absolute;
    left: 40px;
    height: 100%;
    width: 2px;
    border-radius: 0%;
    animation: Cloud-progressAnimation 1.3s ease-in-out forwards;
    animation-delay: 2.2s;
    background-color: transparent;
    transform-origin: left bottom;
  }
  .skill-menu-open:checked ~ .skill-menu-item:nth-child(48){
    position: absolute;
    top: 205px;
    left: -95px;
    height: 13%;
    width: 2px;
    border-radius: 0%;
    background-color: transparent;
    transform: rotate(270deg);
    z-index: -2;
  }
  .skill-menu-open:checked ~ .skill-menu-item .cloud-stick2{
    position: absolute;
    left: 40px;
    height: 100%;
    width: 2px;
    border-radius: 0%;
    animation: Cloud-progressAnimation 1.3s ease-in-out forwards;
    animation-delay: 2.75s;
    background-color: transparent;
    transform-origin: left bottom;
  }
  .skill-menu-open:checked ~ .skill-menu-item:nth-child(49){
    position: absolute;
    top: 258px;
    left: -136px;
    height: 11%;
    width: 2px;
    border-radius: 0%;
    background-color: transparent;
    transform: rotate(180deg);
    z-index: -2;
  }
  .skill-menu-open:checked ~ .skill-menu-item .cloud-stick3{
    position: absolute;
    left: 40px;
    height: 100%;
    width: 2px;
    border-radius: 0%;
    animation: Cloud-progressAnimation 1.3s ease-in-out forwards;
    animation-delay: 3.4s;
    background-color: transparent;
    transform-origin: left bottom;
  }
 
 /* Cloud stick end */
 /* Cloud tree end */
  
 
 .cloud-main-stick, .cloud-stick1,.cloud-stick2,.cloud-stick3{
    position: absolute;
    left: 50%;
 }
 
 @keyframes Cloud-progressAnimation {
    0% {
       transform: scale(1,0);
       background-color: #C49CDE;
    }
    100% {
       /* transform: rotate(120deg); */
    
       transform: scale(1,3);
       background-color: #C49CDE;
    }
  }
 
 
 /* Network Tree start */
 /* Network item start */
 .skill-menu-open:checked ~ .skill-menu-item:nth-child(50){
    transform: translate3d(-255.0534px, -95.47586px, 0);
    border: 3.5px solid #70CC72;
    font-size: 15px;
    animation: hidden 4.8s;
  }
  .skill-menu-open:checked ~ .skill-menu-item:nth-child(51){
     transform: translate3d(-373.0534px, -95.47586px, 0);
     border: 3.5px solid #70CC72;
     font-size: 15px;
     animation: hidden 5.7s;
   }
   .skill-menu-open:checked ~ .skill-menu-item:nth-child(52){
     transform: translate3d(-312.0534px, 36.52414px, 0);
     border: 3.5px solid #70CC72;
     font-size: 15px;
     animation: hidden 5.2s;
   }
   .skill-menu-open:checked ~ .skill-menu-item:nth-child(53){
     transform: translate3d(-433.0534px, 36.52414px, 0);
     border: 3.5px solid #70CC72;
     font-size: 15px;
     animation: hidden 6s;
   }
  
  .network-gns {
     background-image: url("../img/gns3.png");
     background-size:  50px;
     background-repeat: no-repeat;
     background-color:#fff;
     background-position: center;
     overflow: hidden;
  }
  .network-gns:hover:before {
    content:"75%";
    display: flex;
    justify-content: center;
    position:absolute;
    width: 150px;
    height:150px;
    background:#70CC72;
    left:50%;
    animation:fill 1s ease-in-out forwards;
    z-index:-2;
    top: 25%;
  }
  .network-packet-tracer {
     background-image: url("../img/packet tracer.png");
     background-size:  65px;
     background-repeat: no-repeat;
     background-color:#fff;
     background-position: center;
     overflow: hidden;
  }
  .network-packet-tracer:hover:before {
    content:"70%";
    display: flex;
    justify-content: center;
    position:absolute;
    width: 150px;
    height:150px;
    background:#70CC72;
    left:50%;
    animation:fill 1s ease-in-out forwards;
    z-index:-2;
    top: 30%;
  }
  .network-suricata {
     background-image: url("../img/suricata.png");
     background-size:  65px;
     background-repeat: no-repeat;
     background-color:#fff;
     background-position: center;
     overflow: hidden;
  }
  .network-suricata:hover:before {
    content:"45%";
    display: flex;
    justify-content: center;
    position:absolute;
    width: 150px;
    height:150px;
    background:#70CC72;
    left:50%;
    animation:fill 1s ease-in-out forwards;
    z-index:-2;
    top: 55%;
  }
  .network-wireshark {
     background-image: url("../img/wireshark.png");
     background-size:  85px;
     background-repeat: no-repeat;
     background-color:#fff;
     background-position: center;
     overflow: hidden;
  }
  .network-wireshark:hover:before {
    content:"55%";
    display: flex;
    justify-content: center;
    position:absolute;
    width: 150px;
    height:150px;
    background:#70CC72;
    left:50%;
    animation:fill 1s ease-in-out forwards;
    z-index:-2;
    top: 45%;
  }
  /* Network item end */
  /* Network stick start */
  
  .skill-menu-open:checked ~ .skill-menu-item:nth-child(54){
     position: absolute;
     top: -29px;
     left: -120px;
     height: 100%;
     width: 2px;
     border-radius: 0%;
     background-color: transparent;
     transform: rotate(270deg);
     z-index: -2;
   }
   .skill-menu-open:checked ~ .skill-menu-item .network-main-stick{
     position: absolute;
     left: 40px;
     width: 2px;
     border-radius: 0%;
     animation: Network-progressAnimation 3s ease-in-out forwards;
     animation-delay: 1.5s;
     background-color: transparent;
     transform-origin: left bottom;
   }
  
   .skill-menu-open:checked ~ .skill-menu-item:nth-child(55){
    position: absolute;
    top: 0px;
    left: -143px;
    height: 16%;
    width: 2px;
    border-radius: 0%;
    background-color: transparent;
    transform: rotate(-49deg);
    z-index: -2;
   }
   .skill-menu-open:checked ~ .skill-menu-item .network-stick1{
     position: absolute;
     left: 40px;
     height: 100%;
     width: 2px;
     border-radius: 0%;
     animation: Network-progressAnimation 1.3s ease-in-out forwards;
     animation-delay: 2.5s;
     background-color: transparent;
     transform-origin: left bottom;
   }
   .skill-menu-open:checked ~ .skill-menu-item:nth-child(56){
     position: absolute;
     top: 8px;
     left: -200px;
     height: 17%;
     width: 2px;
     border-radius: 0%;
     background-color: transparent;
     transform: rotate(-130deg);
     z-index: -2;
   }
   .skill-menu-open:checked ~ .skill-menu-item .network-stick2{
     position: absolute;
     left: 40px;
     height: 100%;
     width: 2px;
     border-radius: 0%;
     animation: Network-progressAnimation 1.3s ease-in-out forwards;
     animation-delay: 2.8s;
     background-color: transparent;
     transform-origin: left bottom;
   }
   .skill-menu-open:checked ~ .skill-menu-item:nth-child(57){
    position: absolute;
    top: 0px;
    left: -260px;
    height: 16%;
    width: 2px;
    border-radius: 0%;
    background-color: transparent;
    transform: rotate(-49deg);
    z-index: -2;
   }
   .skill-menu-open:checked ~ .skill-menu-item .network-stick3{
     position: absolute;
     left: 40px;
     height: 100%;
     width: 2px;
     border-radius: 0%;
     animation: Network-progressAnimation 1.3s ease-in-out forwards;
     animation-delay: 3.3s;
     background-color: transparent;
     transform-origin: left bottom;
   }
  
   .skill-menu-open:checked ~ .skill-menu-item:nth-child(58){
    position: absolute;
    top: 9px;
    left: -317px;
    height: 15%;
    width: 2px;
    border-radius: 0%;
    background-color: transparent;
    transform: rotate(-130deg);
    z-index: -2;
   }
   .skill-menu-open:checked ~ .skill-menu-item .network-stick4{
     position: absolute;
     left: 40px;
     height: 100%;
     width: 2px;
     border-radius: 0%;
     animation: Network-progressAnimation 1.3s ease-in-out forwards;
     animation-delay: 3.6s;
     background-color: transparent;
     transform-origin: left bottom;
   }
  /* Network stick end */
  /* Network tree end */
  
  .network-main-stick, .network-stick1,.network-stick2,.network-stick3,.network-stick4{
     position: absolute;
     left: 50%;
  }
  
  @keyframes Network-progressAnimation {
     0% {
        transform: scale(1,0);
        background-color: #70CC72;
     }
     100% {
        /* transform: rotate(120deg); */
     
        transform: scale(1,4);
        background-color: #70CC72;
     }
   }
  
 
 /* Section two public keyframe */
 @keyframes hidden {
   0%{
      opacity: 0;
   }
   50% {
      opacity: 0;
   }
   75%{
      opacity: 0;
   }
   100%{
      opacity: 1;
 
   }
 }
 
 /* fill animation top Formula
    skill 100% - percent = top 
 */
 @keyframes fill {
    from {
      top:80px;
      border-radius: 50%;
      transform:translateX(-50%) rotate(0deg);
    }
    to {
       border-radius: 50%;
      transform:translateX(-50%) rotate(360deg);
    }
  }
 
 
 .section-3-h1{
    text-align: center;
    position: absolute;
    padding-top: 5%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    color: skyblue;
 }
 
 .section-3-h2{
    text-align: center;
    position: absolute;
    padding-top: 10%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* display: grid; */
 
    color: palevioletred;
 }
 
 
 
 