.section:nth-child(3) {
	background-color: #2d2e35;
}

.windows-screen{
    position: relative;
    width: 70%;
    height: 85%;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border: 5.5px solid #fdba05;
    border-radius: 10px;
    background-color: rgb(24 25 32 / 34%);
}

.foldertab-container{
    position: relative;
    width: 95%;
    height: 95%;
    left: 0px;
    top: 3.5%;
    margin-left: 0;
}

.foldertab{
    border-bottom-right-radius: 15px;
}


.foldertab:nth-child(1){
    position: absolute;
    width: 95%;
    height: 100%;
    background-color: #976f03;
}
.foldertab:nth-child(1)::before{
    font-family: 'D2Coding';
    letter-spacing: 7px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    content: 'test1';
    width: 3%;
    height: 30%;
    border-radius: 0 15px 15px 0;
    background-color: #976f03;
    position: absolute;
    left: 100%;
    top: 0;
    cursor: pointer;
}
.foldertab:nth-child(1):hover{
    transition-duration: 150ms;
    transform: scale(1.05,1.0);
}
/* .foldertab:nth-child(1):active{
    transform: scale(1.9, 1.0);
    animation-fill-mode: forwards;
} */



.foldertab:nth-child(2){
    position: absolute;
    width: 90%;
    height: 100%;
    background-color: #b18203;
}
.foldertab:nth-child(2)::before{
    font-family: 'D2Coding';
    letter-spacing: 7px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    content: 'test2';
    width: 3%;
    height: 30%;
    border-radius: 0 15px 15px 0;
    background-color: #b18203;
    position: absolute;
    left: 100%;
    top: 0;
    cursor: pointer;
}
.foldertab:nth-child(2):hover{
    transition-duration: 150ms;
    transform: scale(1.05,1.0);
}
.foldertab:nth-child(3){
    position: absolute;
    width: 85%;
    height: 100%;
    background-color: #ca9404;
}
.foldertab:nth-child(3)::before{
    font-family: 'D2Coding';
    letter-spacing: 7px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    content: 'test3';
    width: 3%;
    height: 30%;
    border-radius: 0 15px 15px 0;
    background-color: #ca9404;
    position: absolute;
    left: 100%;
    top: 0;
    cursor: pointer;
}
.foldertab:nth-child(3):hover{
    transition-duration: 150ms;
    transform: scale(1.05,1.0);
}
.foldertab:nth-child(4){
    position: absolute;
    width: 80%;
    height: 100%;
    background-color: #e3a704;
}
.foldertab:nth-child(4)::before{
    font-family: 'D2Coding';
    letter-spacing: 7px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    content: 'test4';
    width: 3%;
    height: 30%;
    border-radius: 0 15px 15px 0;
    background-color: #e3a704;
    position: absolute;
    left: 100%;
    top: 0;
    cursor: pointer;
}
.foldertab:nth-child(4):hover{
    transition-duration: 150ms;
    transform: scale(1.05,1.0);
}
.foldertab:nth-child(5){
    position: absolute;
    width: 75%;
    height: 100%;
    background-color: #fdba05;
}
.foldertab:nth-child(5)::before{
    font-family: 'D2Coding';
    letter-spacing: 7px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    content: 'test5';
    width: 3%;
    height: 30%;
    border-radius: 0 15px 15px 0;
    background-color: #fdba05;
    position: absolute;
    left: 100%;
    top: 0;
}



@keyframes animation-folder {
    25%{
        z-index: 2;
    }
    100%{
        z-index: 2;
        width: 75%;
        height: 100%;
    }
}

.animation-folder1, .animation-folder2, 
.animation-folder3, .animation-folder4{
    animation: animation-folder 1s ease-in-out forwards;
}


.folder-file{
    width: 96.5%;
    height: 95%;
    margin-top: 20px;
    /* background-color: #fff; */
    background-color: hsl(0, 0%, 85%);
    position: absolute;
}