.section:nth-child(3) {
	background-color: #2d2e35;
}


.foldertab-container{
    position: relative;
    width: 95%;
    height: 95%;
    left: 0px;
    top: 3.5%;
    margin-left: 0;
}

.foldertab{
    border-bottom-right-radius: 15px;
}
.foldertab::before{
    font-family: 'D2Coding';
    letter-spacing: 7px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    width: 3%;
    height: 30%;
    border-radius: 0 15px 15px 0;
    position: absolute;
    left: 99.95%;
    top: 0;
    cursor: pointer;
}
.foldertab:hover:not(:last-child){
    transition-duration: 150ms;
    transform: scale(1.05,1.0);
    will-change: transform;
}




.foldertab:nth-child(1){
    position: absolute;
    width: 95%;
    height: 100%;
    background-color: #976f03;
}
.foldertab:nth-child(1)::before{
    content: 'test1';
    background-color: #976f03;
    
}

.foldertab:nth-child(2){
    position: absolute;
    width: 90%;
    height: 100%;
    background-color: #b18203;
}
.foldertab:nth-child(2)::before{
    content: 'test2';
    background-color: #b18203;
}
.foldertab:nth-child(3){
    position: absolute;
    width: 85%;
    height: 100%;
    background-color: #ca9404;
}
.foldertab:nth-child(3)::before{
    content: 'test3';
    background-color: #ca9404;
}
.foldertab:nth-child(4){
    position: absolute;
    width: 80%;
    height: 100%;
    background-color: #e3a704;
}
.foldertab:nth-child(4)::before{
    content: 'test4';
    background-color: #e3a704;
}
.foldertab:nth-child(5){
    position: absolute;
    width: 75%;
    height: 100%;
    background-color: #fdba05;
}
.foldertab:nth-child(5)::before{
    content: 'test5';
    background-color: #fdba05;
}



@keyframes animation-folder {
    25%{
        z-index: 2;
    }
    100%{
        z-index: 2;
        width: 75%;
        height: 100%;
        background-color: #fdba05;
    }
}

.animation-folder1, .animation-folder2, 
.animation-folder3, .animation-folder4{
    animation: animation-folder 0.6s ease-in-out forwards;
}
.animation-folder1::before, .animation-folder2::before, 
.animation-folder3::before, .animation-folder4::before{
    animation: change-color 0.6s ease-in-out forwards;
}

@keyframes change-color{
    100%{background-color: #fdba05;}
}
.folder-file{
    width: 96.5%;
    height: 95%;
    margin-top: 20px;
    background-color: hsl(0, 0%, 85%);
    box-shadow:0px 0px 15px rgb(0 0 0 / 70%);
    position: absolute;
}